* {
  padding: 0 0;
  margin: 0 0;
  text-decoration: none;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 5px;
  padding: 5px;
  background: #2c3531;
  color: #fff;
}

.info-email {
  margin-top: 25px;
  padding: 20px;
}

.circle {
  border-radius: 50%;
  color: #fff;
  background: gray;
  width: 35px;
  padding: 9px;
  font-size: 25px;
}

.circle-info {
  position: relative;
  left: 70px;
  font-size: 20px;
  margin-top: -45px;
}

.my-email {
  margin-bottom: 40px;
}

.my-email {
  left: 70px;
  position: relative;
}

.date-1 {
  float: right;
  margin-top: -40px;
}

.header {
  margin-top: 15px;
  margin-bottom: 70px;
}

.earn {
  position: relative;
  left: 25px;
}

span {
  color: rgb(241, 56, 56);
}

.fab {
  color: rgb(241, 56, 56);
  font-size: 30px;
  position: relative;
  left: 70px;
}

.color-change {
  position: relative;
  left: 100px;
  color: rgb(241, 56, 56);
  margin-top: -30px;
  font-size: 20px;
  margin-bottom: 40px;
}

img {
  width: 90%;
  height: 500px;
  object-fit: cover;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 38px;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  left: 60px;
  color: rgb(241, 56, 56);
}

p {
  font-size: 25px;
  left: 60px;
  position: relative;
}

button {
  padding: 15px;
  width: 20%;
  border-radius: 10px;
  background-color: rgb(241, 56, 56);
  color: #fff;
  font-size: 20px;
  position: relative;
  left: 190px;
  margin-top: 60px;
  transform: translate(-50%, -50%);
}

button {
  background: none;
  border: 1px solid rgb(241, 56, 56);
  color: #ccc;
  transition: 0.6s;
  overflow: hidden;
}

button:focus {
  outline: none;
}

button:before {
  content: "";
  display: block;
  position: absolute;
  background: rgb(255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5s;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}

button:after {
  content: "";
  display: block;
  position: absolute;
  background: rgb(255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translate(-100px) scaleX(-15deg);
}

button:hover {
  background: rgb(241, 56, 56);
  cursor: pointer;
}

button:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  transition: 0.7s;
}

button:hover:after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 0.1;
  transition: 0.7s;
}

.my-address {
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
  left: 50px;
}
.address {
  font-size: 8px;
  font-weight: normal;
  margin-top: 35px;
}
.green {
  color: green;
}

.margin {
  margin-top: 40px;
  margin-bottom: 30px;
}

.subscribe {
  margin-bottom: 45px;
  left: 50px;
  position: relative;
}

@media (max-width: 700px) {
  button {
    margin-left: 8px;
    position: relative;
    width: 30%;
  }

  p {
    font-size: 20px;
  }

  .margin {
    font-size: 5px;
  }

  .head-tag {
    text-align: left;
  }
}

@media (max-width: 768px) {
  button {
    position: relative;
    left: 170px;
    width: 30%;
  }
  p {
    font-size: 20px;
  }
  .margin {
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  .circle {
    border-radius: 50%;
    color: #fff;
    background: gray;
    width: 20px;
    padding: 10px;
    font-size: 20px;
  }

  .circle-info {
    position: relative;
    left: 45px;
    font-size: 15px;
    margin-top: -45px;
  }

  .my-email {
    left: 45px;
    position: relative;
    font-size: 12px;
  }

  .earn {
    font-size: 20px;
    left: 2px;
  }

  .fab {
    color: rgb(241, 56, 56);
    font-size: 30px;
    position: relative;
    left: 40px;
  }
  .color-change {
    left: 70px;
  }

  img {
    width: 100%;
    height: 200px;
  }
  .center {
    display: block;
    text-align: center;
  }

  .head-tag {
    font-size: 25px;
    left: 3px;
  }

  .my-p,
  .my-div {
    margin: 70px;
    margin-left: 0 !important;
    text-align: center;
  }

  p {
    margin-left: -50px !important;
    padding: 10px;
  }
  .margin {
    margin-left: -50px !important;
  }
  button {
    width: 100%;
    margin-left: 90px;
  }
}
